stages:
    - test

before_script:
  - python3 --version
  - pip install -r requirements.txt

test-csa-lab3:
    stage: test
    image:
        name: python-tools
        entrypoint: [""]
    script:
        - python3 -m coverage run --source ./ -m pytest
        - python3 -m coverage report
        - find . -type f -name "*.py" | xargs -t pep8 --ignore=E501
        - find . -type f -name "*.py" | xargs -t pylint
